h2{
  color: greenyellow;
  background-color: teal;
  display: flex;
  justify-content: space-around;
  margin: 0;
  text-shadow: 1px 10px 10px greenyellow ;
  box-shadow: 20px 30px 30px greenyellow;
  border-radius: 10px 10px 0 0;
  font-family: 'Courier New', Courier, monospace;
}
button{
  background-color: teal;
  color: greenyellow;
  border: none;
  cursor: pointer;
}

.App{
  margin-top: 190px;
  width: 70vw;
}
body{
  height: 100%;
  background: url('./RickMortyBackground.jpeg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
img{
  border-radius: 20px;
  border: solid white 3px;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: white;
  text-shadow: 8px 5px 3px black;
}
.xtraInfo{
  background-color: teal;
  border-radius: 0 0 10px 10px;
}
